<?xml version="1.0" encoding="utf-8" standalone="no"?>
<Settings>
	<SnapFlags>127</SnapFlags>
	<MouseSensitive>1.5</MouseSensitive>
	<GridSnapDist>6</GridSnapDist>
	<VertexSnapeDist>8</VertexSnapeDist>
	<ConnectSnapeDist>10</ConnectSnapeDist>
	<GuideLineSnapDist>10</GuideLineSnapDist>
	<AidsSnapDist>8</AidsSnapDist>
	<AidsDisplayDist>6</AidsDisplayDist>
	<MinValidDist>5</MinValidDist>
	<MinValidSize>10</MinValidSize>
	<Angle15SnapDist>80</Angle15SnapDist>
	<Angle10SnapDist>120</Angle10SnapDist>
	<Angle5SnapDist>160</Angle5SnapDist>
	<Angle1SnapDist>220</Angle1SnapDist>
	<ConLineMinDis>6</ConLineMinDis>
	<HideCptsMinSize>21</HideCptsMinSize>
	<AutoSaveElapse>600</AutoSaveElapse>
	<CheckForUpdatesAtStart>TRUE</CheckForUpdatesAtStart>
	<UndoLevel>60</UndoLevel>
	<RecentFiles>8</RecentFiles>
	<RecentTemplates>16</RecentTemplates>
	<AntiAlias>TRUE</AntiAlias>
	<TextAntiAlias>TRUE</TextAntiAlias>
	<SpellCheck>TRUE</SpellCheck>
	<FontName>Arial</FontName>
	<FontSize>10</FontSize>
	<MetricUnits>1</MetricUnits>
	<HideFloatButton>FALSE</HideFloatButton>
	<PageUnit>10001</PageUnit>
	<PaperSizeIndex>13</PaperSizeIndex>
	<PrintPaperSizeIndex>13</PrintPaperSizeIndex>
	<PaperColor>#FFFFFFFF</PaperColor>
	<PaperBkColor>#FFE6E8ED</PaperBkColor>
	<PageGridColor>#FFB4B4B4</PageGridColor>
	<FullScreenBkColor>#FF000000</FullScreenBkColor>
	<DefaultTheme>0</DefaultTheme>
	<RectWidth>64</RectWidth>
	<RectHeight>61</RectHeight>
	<RoundRectWidth>160</RoundRectWidth>
	<RoundRectHeight>100</RoundRectHeight>
	<RoundRadius>16</RoundRadius>
	<EllipseWidth>160</EllipseWidth>
	<EllipseHeight>100</EllipseHeight>
	<PolygonRadius>40</PolygonRadius>
	<PolygonEageNum>6</PolygonEageNum>
	<StarInterRadius>35</StarInterRadius>
	<StarOuterRadius>70</StarOuterRadius>
	<StarVertexNum>5</StarVertexNum>
	<HelixClockWise>TRUE</HelixClockWise>
	<HelixDecreasePer>0.8</HelixDecreasePer>
	<HelixRadius>70</HelixRadius>
	<HelixSegNum>10</HelixSegNum>
	<ArcRate>0.55</ArcRate>
	<ArcWidth>140</ArcWidth>
	<ArcHeight>70</ArcHeight>
	<ArcClosed>FALSE</ArcClosed>
	<LineLength>103</LineLength>
	<LineAngle>45</LineAngle>
	<ExpSize>0</ExpSize>
	<ExpZoom>2</ExpZoom>
	<ExpShapes>2</ExpShapes>
	<ExpSolution>0</ExpSolution>
	<ExpSolutionX>96</ExpSolutionX>
	<ExpSolutionY>96</ExpSolutionY>
	<mmMajor>20</mmMajor>
	<mmMinor>10</mmMinor>
	<mmAutoLayout>TRUE</mmAutoLayout>
	<OrgAutoLayout>FALSE</OrgAutoLayout>
	<OrgVerDist>16</OrgVerDist>
	<OrgHorDist>16</OrgHorDist>
	<OrgHorAss>8</OrgHorAss>
	<OfficeExpAsGroup>TRUE</OfficeExpAsGroup>
	<OfficeExpAllPages>TRUE</OfficeExpAllPages>
	<OfficeExpBkgrd>TRUE</OfficeExpBkgrd>
	<OfficeExpZoom>76</OfficeExpZoom>
	<WordExpZoom>60</WordExpZoom>
	<ExcelExpZoom>100</ExcelExpZoom>
</Settings>

