<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BINHPHAM-PC\SQLEXPRESS_pkn_Connection" connectionString="XpoProvider=MSSqlServer;data source=BINHPHAM-PC\SQLEXPRESS;user id=sa;password=Binhhp1909;initial catalog=pkn;Persist Security Info=true" />
  </connectionStrings>
  <appSettings>
    <add key="mysqlhost" value="localhost" />
    <add key="mysqlport" value="3306" />
    <add key="mysqlusername" value="root" />
    <add key="mysqlpassword" value="Binhhp1909" />
    <add key="mysqldatabase" value="pkn" />
    <add key="langue" value="vi" />
  </appSettings>
</configuration>